

body{
   text-align: center;
   color: rgba(60, 98, 201, 0.973);
   font-family :'Ubuntu', sans-serif;
  font-weight: bolder;
}
img {
  opacity: 0.6;
  margin: 40px 20px 40px -18%;
}
.video-section {
  position: relative;
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover; /* Ensures the video covers the entire section without distortion */
  z-index: -1;      /* Puts the video behind any content in the video section */
}

/* #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
} */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
} */

  .container-second  {
  color: rgb(250, 250, 250);
  text-align: center;
  font-size: 30px; 
  text-decoration: none;
  width: auto;
  img {
    opacity: 10;
    align-items: end;
  }
}  
.para {
  background-color: aquamarine;
  height: 100%;
  width:50%;
  font-size: 26px;
  color: rgb(246, 255, 246);
  padding: 6% 5%;
  text-align: center;
  margin-top: -35%;
}

nav{
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  width: 100%;
  padding: 1px 860px  20px;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .menu{
  display: flex;
  position: relative;
margin: -200px 20px 20px 20px;
}
nav .navbar .menu li{
  list-style:none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: hwb(0 1% 99%);
  padding: 6px 0;
  transition: all 0.4s ease;
}
.container-third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px;
   width: 90%; 
   margin-top: -20%;
}
.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  background-color: rgba(245, 249, 124, 0.969);
  color: rgb(111, 202, 7);
  border-radius: .5em;
  margin: 20px;
  padding: 10px;
}

.img {
  width: 95%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;
}

.white-flower {
  background-image: url('white flower.jpg');
}

.white1 {
  background-image: url('white1.jpg');
}

.Coffee {
  background-image: url('coffee.jpg');
}




